<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front %><br />
    <%= f.text_area :front, :rows => 4, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :back %><br />
    <%= f.text_area :back, :rows => 4, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :raw %><br />
    <%= f.text_area :raw, :rows => 4, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :tag_list %><br />
    <%= f.text_area :tag_list, :rows => 1, :cols => 60 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
