<p id="notice"><%= notice %></p>

<p>
  <b>Front:</b>
  <%= @question.front %>
</p>

<p>
  <b>Back:</b>
  <%= @question.back %>
</p>

<p>
  <b>Raw:</b>
  <%= @question.raw %>
</p>

<p>
  <b>Tags:</b>
  <%= @question.tag_list %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
