<!DOCTYPE html>
<html>
<head>
  <title>Interview Flashcards - <%= yield_for(:title, "Winning") %></title>
  <%= stylesheet_link_tag 'web' if !mobile_device? %>
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>
	<%= stylesheet_link_tag 'prettify' %>
  <%= javascript_include_tag "prettify.js" %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="site">
  	<div id="header">
  		<h1>Interview Flashcards</h1>
  		<%= link_to 'Home', root_path, :class => "top_button" %>
  	</div>

  	<div id="yield">
  	  <%= yield %>
  	</div>

  </div>
  
  <div id="footer">
  	&copy; Copyright 2011.
  </div>

</body>
</html>
