<!DOCTYPE html>
<html>
<head>
  <title>Interview Flashcards - <%= yield_for(:title, "Winning") %></title>
  <%= stylesheet_link_tag 'web' if !mobile_device? %>
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
  <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
